.input-primary {
  @apply w-full px-4 py-4 max-h-12 mb-1 border rounded-xl focus:outline-none;
}
body {
  @apply dark:bg-[#111827];
  font-family: 'Plus Jakarta Sans', sans-serif;
}

div.report label {
  @apply mb-2 block;
}
.custom-marker {
  @apply bg-opacity-50 h-28 w-28 rounded-full flex justify-center items-center text-white font-semibold border border-white;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.sans-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

div.leaflet-popup-content-wrapper,
div.leaflet-popup-tip {
  @apply dark:bg-tremor-content-strong text-tremor-content;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

div.leaflet-control-zoom.leaflet-bar.leaflet-control {
  @apply mt-16 ml-4;
}
